@import 'normalize';
@import 'flexboxgrid';
@import 'media';
// @import 'burger-menu';

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&subset=cyrillic-ext');

@header-font: 'Roboto Slab', serif;
@regular-font: 'Roboto', serif;

@primary-color: #e23d41;

body{
    font-family: @regular-font;
}

.wrap {
    box-sizing: border-box;
    max-width: 1280px;
    margin: 0px auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.page-number{
    font-weight: 500;
    font-family: @header-font;
    width: 35px;
    text-align: right;

    &_black{
        color: #000;
    }

    &_white{
        color: #fff;
    }

    &__current{
        display: block;
        font-size: 20px;
        padding: 3px 0px;

        &_black{
            border-bottom: 2px solid #000;
        }

        &_white{
            border-bottom: 2px solid #fff;
        }
    }

    &__all{
        display: block;
        font-size: 13px;
        padding: 3px 0px;
    }
}

.regular-title{
    position: relative;
    font-family: @header-font;
    font-size: 30px;
    padding-bottom: 20px;

    @media @desktop {
        font-size: 48px;
        text-align: left;
    }

    &:after{
        position:absolute;
        bottom:0;
        left:0;
        width:30%;
        border-top: 3px solid @primary-color;
        content:"";
    }

    &_black{
        color: #000;
    }

    &_white{
        color: #fff;
    }
}

.header{
    position: relative;
    background: url(../img/header_bg.jpg) no-repeat top center;
    background-size: cover;
    background-color: #f3f3f3;
    
    @media @desktop{
        background: url(../img/header_bg.jpg) no-repeat top right;
        background-color: #f3f3f3;
    }

    &__title{
        font-family: @header-font;
        color: #000;
        text-align: center;
        font-size: 55px;
        font-weight: 700;

        @media @tablet{
            text-align: left;
        }

        @media @desktop{
            font-size: 70px;
        }

        &_highlight{
            color: @primary-color;
        }
    }
}

.topheader_wrapper{
    padding: 30px 0px;

    @media @desktop{
        padding: 120px 0px 150px;
    }
}

.sale{
    background-color: #fff;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;

    &:after{
        font-family: @header-font;
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translate(0, -50%);
        color: #f3f3f3;
        font-size: 600px;
        font-weight: 700;
        content: "sales";
    }

    &__wrap{
        position: relative;
        z-index: 1;
    }
}

.sale-item{
    padding: 30px 0px;

    &__box{
        background-color: @primary-color;
        width: 150px;
        height: 150px;
        padding: 15px;
        box-sizing: border-box;
        margin: 0 auto;

        @media @tablet{
            margin: 0;
        }
    }

    &__count{
        font-family: @header-font;
        font-weight: 700;
        font-size: 34px;
        margin-bottom: -6px;
        display: block;
        color: @primary-color;
    }

    &__text{
        font-weight: 100;
        padding: 10px 0px;
        line-height: 23px;
    }
}

.we-do{
    position: relative;
    background-color: #000;

    &__wrap{
        padding: 30px 0px;
        margin: 0px -20px;
    }

    &__item{
        position: relative;
        padding: 20px 20px;
        margin: 15px 0px;

        @media @tablet{
            margin: 15px;     
        }
    }

    &__text{
        color: #fff;
        font-family: @regular-font;
        font-size: 16px;
        font-weight: 100;
        text-align: center;
        line-height: 30px;

        @media @tablet{
            font-size: 18px;
        }
    }

    &__frame{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
}

.need-you{
    background-color: #fff;
}